<div class="table table-bordered table-striped col-md-6 container  py-5 h-100">
<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="mb-3">
    <%= form.label :Nom, { class: "form-label"} %><br />
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :email, { class: "form-label"} %><br />
    <%= form.text_field :email %>
  </div>

  <div class="mb-3">
    <%= form.label :password, { class: "form-label"} %><br />
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer", class:"p-2 mb-2 bg-primary text-white" %>
  </div>
</div>
<% end %>
