<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Liste Bibliothecaires</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Approuvé</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.name %></td>
        <td><%= librarian.email %></td>
        <td><%= librarian.approved %></td>
        <td><%= link_to 'Afficher', librarian, class:"p-3 mb-2 bg-primary text-white" %></td>
        <td><%= link_to 'Editer/Approuver', edit_librarian_path(librarian), class:"p-3 mb-2 bg-success text-white" %></td>
        <td><%= link_to 'Supprimer', librarian, method: :delete, data: { confirm: 'Vouler-vous vraiment supprimer?' }, class:"p-3 mb-2 bg-danger text-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>