<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Livres</h1>

<%= form_tag(search_path, :method => "get" , :required => true) do %>  
  
  <%= radio_button_tag(:search_by,"title",:checked => true,) %>Title
  <%= radio_button_tag(:search_by, "authors")%>Author
  <%= radio_button_tag(:search_by, "published")%>Published Date
  
    <%= search_field_tag :search, params[:search], placeholder: "Search" , :required => true %>  
      <%= button_tag do%> 
	  <%= t('Search')%>
	  <% end %>

<% end %>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Language</th>
      <th>Available Count</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
       
        <td><%= book.quantity %></td>
        <% if current_admin.nil? %>          
          <td><%= link_to 'Checkout', controller: "books", action: "checkout", id: book %></td>
          
        <% else %>
		  <td><%= link_to 'Show', book %></td>
		  <td><%= link_to 'Edit', edit_book_path(book) %></td>
		  <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'View Book History', controller: "books", action: "viewBookHistory", id: book %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
