<div class="table table-bordered table-striped col-md-6 container  py-5 h-100">
<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="mb-3">
    <%= form.label :nom, { class: "form-label"} %><br />
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :email, { class: "form-label"} %><br />
    <%= form.text_field :email %>
  </div>

  <div class="mb-3">
    <%= form.label :matricule, { class: "form-label"} %><br />
    <%= form.text_field :matricule %>
  </div>

  <div class="mb-3">
    <%= form.label :classe, { class: "form-label"} %><br />
    <%= form.text_field :classname %>
  </div>

  <div class="mb-3">
    <%= form.label :password, { class: "form-label"} %><br />
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer", class:"p-2 mb-2 bg-primary text-white" %>
  </div>
<% end %>
