<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<p id="notice"><%= notice %></p>

<p>
  <strong>Matricule:</strong>
  <%= @student.matricule %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Mot de passe:</strong>
  <%= @student.password %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @student.classname %>
</p>

<%= link_to 'Editer', edit_student_path(@student) %> |
<%= link_to 'Retour', students_path %>
