<div class="table table-bordered table-striped col-md-6 container  py-5 h-100">
<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :isbn, { class: "form-label"} %>
    <%= form.text_field :isbn, {placeholder: "Isbn du livre",  class: "form-control"} %>
  </div>

  <div class="field mb-3">
    <%= form.label :titre, { class: "form-label"} %>
    <%= form.text_field :title, {placeholder: "Saisir le titre du livre",  class: "form-control"} %>
  </div>

  <div class="field mb-3">
    <%= form.label :auteurs, { class: "form-label"} %>
    <%= form.text_field :authors, {placeholder: "Saisir les noms des auteurs",  class: "form-control"}%>
  </div>

  <div class="field mb-3">
    <%= form.label :langue, { class: "form-label"} %>
    <%= form.text_field :language, {placeholder: "Saisir la langue du livre ex Français",  class: "form-control"} %>
  </div>

  <div class="mb-3">
    <%= form.label :Date_Publication, { class: "form-label"} %>
    <%= form.date_select :published,{ class: "form-control"}  %>
  </div>

  <div class="field mb-3">
    <%= form.label :edition, { class: "form-label"} %>
    <%= form.text_field :edition, {placeholder: "Saisir la maison d'édition du livre",class: "form-control"} %>
  </div>

  <div class="field mb-3">
    <%= form.label :résumé, { class: "form-label"} %>
    <%= form.text_area :summary, {placeholder: "Resumé du livre -100 caracteres du livre" , class: "form-control"} %>
  </div>

  <div class="field mb-3">
    <%= form.label :quantité, { class: "form-label"} %>
    <%= form.number_field :quantity, {placeholder: "quantité du livre < à 100", class: "form-control"} %>
  </div>

   <div class="field mb-3">
    <%= form.label :Disponibilité, { class: "form-label"} %>
    <%= form.number_field :available_quantity, {placeholder: "quantité du livre disponible < à 100", class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :portrait, { class: "form-label"} %>
    <%= form.file_field :portrait%>
  </div>

  <div class="actions ">
    <%= form.submit "Enregistrer le livre"  %>
  </div>
<% end %>
