<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h2>Livres empruntés</h2>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Titre</th>
      <th>Auteurs</th>
      <th>Langue</th>
      <th>Date Publication</th>
      <th>Edition</th>   
      <th>Resumé</th>
     
      <th colspan="6"></th>
      
    </tr>
    </thead>
    <tbody>
    <% @checkout.each do |book| %>

      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        
        <td><%= book.summary %></td>
       
        
        
        <td><%= link_to 'Cliquer Rendre', controller: "books", action: "returnBook", id: book %></td>
      </tr>
    <% end %>
    </tbody>        
</table>