<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Dépassement de délais</h1>
<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Title</th>
      <th>Author</th>
      <th>Edition</th>
     
      
      
    </tr>
  </thead>

  <tbody>
  <% if ! @fines.nil? %>
    <% @fines.each do |fine| %>
      <% if fine[:delay] > 0 %>
        <tr>
          <td><%= Student.find(fine[:student_id]).name %></td>
          <td><%= Book.find(fine[:book_id]).title %></td>
          <td><%= Book.find(fine[:book_id]).authors %></td>
          <td><%= Book.find(fine[:book_id]).edition %></td>
          
          
        </tr>
      <%end %>
    <% end %>
  <%end%>
  </tbody>
</table>

<br>

<% if !current_librarian.nil? %>
	<%= link_to 'Back', librarians_path %>
<% else %>
	<%= link_to 'Back', show_books_path %>
<% end %>