<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<p id="notice"><%= notice %></p>

<h1>Livres</h1>
<%= form_tag(search_path, :method => "get" , :required => true) do %>  
  
  <%= radio_button_tag(:search_by,"title",:checked => true,) %>Titre
  <%= radio_button_tag(:search_by, "authors")%>Auteurs
  <%= radio_button_tag(:search_by, "published")%>Date Publication 
  <%= radio_button_tag(:search_by, "category")%>Categorie</p>
    <%= search_field_tag :search, params[:search], placeholder: "Search" , :required => true %>  
      <%= button_tag do%> 
	  <%= t('Search')%>
	  <% end %>

<% end %>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Titre</th>
      <th>Auteurs</th>
      <th>Langue</th>
      <th>Date Publication</th>
      <th>Edition</th>
      <th>Résumé</th>
      <th>Quantité</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.summary %></td>
        <td><%= book.quantity %></td>
        <td><%= image_tag book.portrait.variant(resize_to_limit: [200, 200]) %></td>
        <td><%= link_to 'Afficher', book %></td>
        <td><%= link_to 'Editer', edit_book_path(book) %></td>
        <td><%= link_to 'Supprimer', book, method: :delete, data: { confirm: 'Etes vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
