
<h3><u>All Books</u></h3>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      
      <th>Summary</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        
        <td><%= book.summary %></td>
        <td><%= book.quantity %></td>
        <td><%= link_to 'Show/Edit', book %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'View Book History', controller: "books", action: "viewBookHistory", id: book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
