<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h3><u>Tous les livres</u></h3>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Titre</th>
      <th>Auteurs</th>
      <th>Langue</th>
      <th>Date Publication</th>
      <th>Edition</th>
      
      <th>Resumé</th>
      <th>Quantité</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        
        <td><%= book.summary %></td>
        <td><%= book.quantity %></td>
        <td><%= link_to 'Show/Edit', book, class:"p-3 mb-2 bg-primary text-white" %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } ,class:"p-3 mb-2 bg-danger text-white" %></td>
        <td><%= link_to 'View Book History', controller: "books", action: "viewBookHistory", id: book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
