
<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<H1> Livres empruntés </H1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Titre</th>
      <th>Auteurs</th>
      <th>Langue</th>
      <th>Date Publication</th>
      <th>Edition</th>
      <th>Résumé</th>
      <th>Quantité Disponible</th>
      
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.authors %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.summary %></td>
        <td><%= book.available_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>