
<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<H1> Liste des Etudiants qui ont emprunté des Livres </H1>

<table border='1'>
  <thead>
    <tr>
	   <th>Nom</th>
      <th>Email</th>
      <th>Isbn</th>
      <th>Titre</th>
      <th>Auteurs</th>
      <th>Date Sortie</th>
      <th>Date Retour</th>
      <th>Langue</th>
      <th>Publié</th>
      <th>Edition</th>
     
      <th>Résumé</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.name %></td>
        <td><%= result.email %></td>
        <td><%= result.isbn %></td>
        <td><%= result.title %></td>
        <td><%= result.authors %></td>
        <td><%= result.issue_date %></td>
        <td><%= result.return_date %></td>
        <td><%= result.language %></td>
        <td><%= result.published %></td>
        <td><%= result.edition %></td>
        
        <td><%= result.summary %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>