<div class="table table-bordered table-striped col-md-6 container  py-5 h-100">
<%= form_with(model: librarian, local: true) do |form| %>
  <% if librarian.errors.any? %>
  
    <div id="error_explanation">
      <h2><%= pluralize(librarian.errors.count, "error") %> prohibited this librarian from being saved:</h2>

      <ul>
        <% librarian.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="mb-3">
    <%= form.label :nom, { class: "form-label"} %>
    <%= form.text_field :name, { class: "form-control"} %>
  </div>

  <div class="mb-3">
    <%= form.label :email, { class: "form-label"} %>
    <%= form.text_field :email, { class: "form-control"} %>
  </div>

  <div class="mb-3">
    <%= form.label :password, { class: "form-label"} %>
    <%= form.text_field :password, { class: "form-control"} %>
  </div>


  <% if current_librarian.nil? %>
      <div class="field">
      <%= form.label :approuvé %>
      <%= form.select :approved, ['Yes', 'No']%>
      </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Enregistrer', style: 'color: white; background-color: #0d6efd; border-color: #0d6efd' %>
  </div>
</div>
<% end %>
