
<%= form_with(model: librarian, local: true) do |form| %>
  <% if librarian.errors.any? %>
  
    <div id="error_explanation">
      <h2><%= pluralize(librarian.errors.count, "error") %> prohibited this librarian from being saved:</h2>

      <ul>
        <% librarian.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>


  <% if current_librarian.nil? %>
      <div class="field">
      <%= form.label :approuvé %>
      <%= form.select :approved, ['Yes', 'No']%>
      </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Enregistrer', style: 'color: white; background-color: #0d6efd; border-color: #0d6efd' %>
  </div>
</div>
<% end %>
