<p id="notice"><%= notice %></p>

<h1>Librarian Panel</h1>
Name: <%= current_librarian.name %><br>
Email: <%=  current_librarian.email %><br>

<br>
<br>
<table>
  <th><strong>Librarian Rights</strong></th>
	<tr><td></tr></td>
	<tr><td></tr></td>
	<tr><td><%= link_to 'Edit Profile', edit_librarian_path(current_librarian) %></td></tr>
	<tr><td></tr></td>
	<tr><td></tr></td>
	<tr><td><strong>Books</strong></tr></td>
	<tr><td><%= link_to 'Add New Book', new_book_path %></td></tr>
	<tr><td><b>To view all books from your as well as other libraries:</b></td></tr>
	<tr><td><%= link_to 'View Books (Details/Edit/Delete/Borrowing History)', librarian_book_view_path %></td></tr>
	<tr><td><%= link_to 'View Checked Out Books', list_checkedoutBooks_path %></td></tr>
	<tr><td><%= link_to 'List of Students who have Checked Out Books', list_checkedoutBooksAndStudentsAdmin_path %></td></tr>  
	<tr><td><%= link_to 'View Overdue Books and Student Fine', getOverdueBooks_path %></td></tr>
	
	
	
</table>
