<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @librarian.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @librarian.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @librarian.password %>
</p>

<p>
  <strong>Approuvé:</strong>
  <%= @librarian.approved %>
</p>

<%= link_to 'Editer', edit_librarian_path(@librarian) %> |
<%= link_to 'Retour', librarians_path %>
