<!DOCTYPE html>
<html>
  <head>
    <title>BiblioCFPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
    <% if student_signed_in?%>
    <%= link_to "Logout", destroy_student_session_path, method: :delete%>
    <%= link_to 'Back', students_path %>
    <%end%>
    <% if librarian_signed_in?%>
    <%= link_to "Logout", destroy_librarian_session_path, method: :delete%>
    <%= link_to 'Back', librarians_path %>
    <%end%>
        <% if admin_signed_in?%>
    <%= link_to "Logout", destroy_librarian_session_path, method: :delete%>
    <%= link_to 'Back', admins_path %>
    <%end%>

    <%= yield %>
  </body>
</html>
