<!DOCTYPE html>
<html>
  <head>
    <title>BiblioCFPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <%= link_to "Biblio CFPT", root_path, class: "navbar-brand bg-transparent" %>
    
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
        <div class="navbar-nav" id="menu">
          <% if student_signed_in?%>
          <%= link_to "Logout", destroy_student_session_path, method: :delete, class:"text-bg-primary p-3" %>
          <%= link_to 'Retour', students_path, class:"text-bg-primary p-3" %>
          <%= link_to "Editer profil", edit_student_path(current_student), class:"text-bg-primary p-3" %>
          <%= link_to 'Tous les Livres', books_students_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Votre activité (Emprunts)', getBookmarkBooks_path, class:"text-bg-primary p-3" %>
          
          
          <%end%>
          <% if librarian_signed_in?%>
          <%= link_to "Logout", destroy_librarian_session_path, method: :delete, class:"text-bg-primary p-3"%>
          <%= link_to 'Retour', librarians_path, class: "text-bg-primary p-3" %>
          <%= link_to 'Editer Profil', edit_librarian_path(current_librarian), class:"text-bg-primary p-3" %></td>
          <%= link_to 'Ajout Livre', new_book_path, class: "text-bg-primary p-3" %>
          <%= link_to 'Tous les Livres', librarian_book_view_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Livres empruntés', list_checkedoutBooks_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Vue Livres empruntés ', list_checkedoutBooksAndStudentsAdmin_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Delais dépassé ', getOverdueBooks_path, class:"text-bg-primary p-3" %>
          
          <%end%>
          <% if admin_signed_in?%>
          <%= link_to "Logout", destroy_librarian_session_path, method: :delete, class:"text-bg-primary p-3"%>
          <%= link_to 'Back', admins_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Editer Profil', edit_admin_path(current_admin), class:"text-bg-primary p-3" %>
          <%= link_to 'Ajout Biblothècaire', new_librarian_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Voir Bibliothècaires', show_librarians_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Ajout Etudiant', new_student_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Liste Etudiants', show_students_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Liste Etudiant/Delais dépassé', getOverdueBooks_path, class:"text-bg-primary p-3" %>
          
          <%= link_to 'Ajout Livre', add_books_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Liste Livres', show_books_path, class:"text-bg-primary p-3" %>
          <%= link_to 'Livres empruntés', list_checkedoutBooks_path, class:"text-bg-primary p-3" %>

          <%end%>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
