<!DOCTYPE html>
<html>
  <head>
    <title>BiblioCFPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Biblio CFPT", root_path, class: "navbar-brand" %>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if student_signed_in?%>
          <%= link_to "Logout", destroy_student_session_path, method: :delete, class: "nav-item nav-link" %>
          <%= link_to 'Back', students_path, class: "nav-item nav-link" %>
          <%= link_to "Edit profile", edit_student_path(current_student), class: "nav-item nav-link" %>
          <%= link_to 'View Books', books_students_path, class: "nav-item nav-link" %>
          <%= link_to 'Your Activity (Checkouts)', getBookmarkBooks_path, class: "nav-item nav-link" %>
          <%= link_to 'Books Fines', getStudentBookFine_path, class: "nav-item nav-link" %>
          
          <%end%>
          <% if librarian_signed_in?%>
          <%= link_to "Logout", destroy_librarian_session_path, method: :delete, class: "nav-item nav-link"%>
          <%= link_to 'Back', librarians_path, class: "nav-item nav-link" %>
          <%= link_to 'Edit Profile', edit_librarian_path(current_librarian), class: "nav-item nav-link" %></td>
          <%= link_to 'Add New Book', new_book_path %>
          <%= link_to 'All Books (Details/Edit/Delete/Borrowing History)', librarian_book_view_path %>
          <%= link_to 'Checked Out Books', list_checkedoutBooks_path, class: "nav-item nav-link" %>
          <%= link_to 'Students/Checked Out Books', list_checkedoutBooksAndStudentsAdmin_path, class: "nav-item nav-link" %>
          <%= link_to 'Overdue Books and Student Fine', getOverdueBooks_path, class: "nav-item nav-link" %>
          
          <%end%>
          <% if admin_signed_in?%>
          <%= link_to "Logout", destroy_librarian_session_path, method: :delete, class: "nav-item nav-link"%>
          <%= link_to 'Back', admins_path, class: "nav-item nav-link" %>
          <%= link_to 'Edit Profile', edit_admin_path(current_admin), class: "nav-item nav-link" %>
          <%= link_to 'Add Librarian', new_librarian_path, class: "nav-item nav-link" %>
          <%= link_to 'View Librarians', show_librarians_path, class: "nav-item nav-link" %>
          <%= link_to 'Add Student', new_student_path, class: "nav-item nav-link" %>
          <%= link_to 'View Students', show_students_path, class: "nav-item nav-link" %>
          <%= link_to 'View Students with Overdue Fine', getOverdueBooks_path, class: "nav-item nav-link" %>
          <%= link_to 'Add Book', add_books_path, class: "nav-item nav-link" %>
          <%= link_to 'View Books', show_books_path, class: "nav-item nav-link" %>
          <%= link_to 'View Checked Out Books', list_checkedoutBooks_path, class: "nav-item nav-link" %>

          <%end%>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
