<div class="table table-bordered table-striped col-md-6 container  py-5 h-100">
<h2>Inscription</h2>
 

<%= form_for @student do |f|%>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :matricule %><br />
    <%= f.text_field :matricule , placeholder: "ex:M20078"%>
  </div>

  <div class="field">
    <%= f.label :classe %><br />
    <%= f.text_field :classname, placeholder: "ex:BTS IIR1" %>
  </div>
  

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"p-2 mb-2 bg-primary text-white" %>
  </div>
<% end %>

<%= render "students/shared/links" %>
