<h2>Inscription</h2>
<div class = "p-3 bg-primary">  

<%= form_for @student do |f|%>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :matricule %><br />
    <%= f.text_field :matricule %>
  </div>

  <div class="field">
    <%= f.label :classname %><br />
    <%= f.text_field :classname %>
  </div>
  

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "students/shared/links" %>
</div>